<!DOCTYPE html>
<HTML>
  <head>
    <title>Constructor</title>
    <link rel="stylesheet" href="/static/css/normalize.css?{% now 'U' %}">
    <link rel="stylesheet" href="/static/css/constructor.css?{% now 'U' %}">
    <link rel="stylesheet" href="/static/css/accordion.css?{% now 'U' %}">
  </head>
  <body>
    <header class="header-container">
      <div class="container">
        <div class="btn-container">
          <a class="btn" href="{% url 'teacher' %}">Назад</a>
          <a href="{% url 'main' %}"><h1 class="logo">WEP</h1></a>
          <div id = "nav">
            <ul>
              <li><a href = "#" class="profile">{{ user.last_name }} {{ user.first_name }}</a>
                <ul class = "second profile__second">
                  <li><a href = "{% url 'main' %}">На главную</a></li>
                  <li><a href = "#">Профиль</a></li>
                  <li><a href = "{% url 'logout' %}">Выйти</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="main-container">
      <div class="container">
        <h2 class="main-container__h">Конструктор заданий</h2>
        <div class="test__container">
          <form method="post" class="form">
              {% csrf_token %}
            <div class="form__item">
              <ul class="list_reset">
                <li class="sec__item">{{ test_form.title.label_tag}} 
                  <div>{{ test_form.title}}</div>
                </li>
                <li class="sec__item">{{ test_form.subject.label_tag}} 
                  <div>{{ test_form.subject}}</div>
                </li>
                <li class="sec__item">{{ test_form.text.label_tag}}
                  <div>{{ test_form.text}}</div>
                </li>
                <li class="sec__item">{{ test_form.difficulty.label_tag}} {{ test_form.difficulty}} [от 0 до 10]</li>
              </ul>
            </div>
            <div class="form__item">
              <ul class="list_reset">
                <li class="sec__item">
                  <div>{{ test_form.time.label_tag }}  {{ test_form.time }}  [часы:минуты]</div></li>
                <li class="sec__item">
                  <div style="margin-bottom: 10px;">{{ test_form.time_deadline.label_tag }} {{ test_form.time_deadline }} [часы:минуты]</div>
                  <div>{{ test_form.date_deadline.label_tag }} {{ test_form.date_deadline }} [день:месяц:год]</div></li>
              </ul>
            </div>
            <div class="form__item">
              <ul class="list_reset mark-list">
                <span class="mark-list__tiitle">Критерии оценивания:</span>
                <li>5 - {{ test_form.five }}</li>
                <li>4 - {{ test_form.four }}</li>
                <li>3 - {{ test_form.three }}</li>
                <li>2 - {{ test_form.two }}</li>
              </ul>
            </div>
            <!-- <button type="button" class="add-question">Добавить вопрос +</button> -->
            <button type="submit" class="btn-save">Сохранить</button>
            <span>{{ error }}</span>
            <div class="explanations">
              <h2 class="explanations__heading">Памятка</h2>
              <span class="explanations__text">
                Заполните все поля формы и нажмите кнопку "Сохранить".
              </span>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/previousLink.js?{% now 'U' %}"></script>
</HTML>