<!DOCTYPE html>
<HTML>
  <head>
    <title>Constructor</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/constructor.css">
    <link rel="stylesheet" href="/static/css/accordion.css">
  </head>
  <body>
    <header class="header-container">
      <div class="btn-container">
        <button class="btn" onclick="window.location.href='{% url 'teacher' %}'">Главная</button>
        <div id = "nav" class="profile">
          <ul>
            <li><a href = "#">Вася Пупкин Пупкович</a>
              <ul class = "second profile__second">
                <li><a href = "{% url 'home' %}">На главную</a></li>
                <li><a href = "#">Профиль</a></li>
                <li><a href = "#">Выйти</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- <button class="btn">Вася Пупкин Пупкович</button> -->
      </div>
    </header>
    <main class="main-container">
      <h2>Тест №1</h2>
      <div class="test__container">
        <form method="post" class="form">
            {% csrf_token %}
          {{ test_form.title}}<br>
          {{ test_form.time }}<br>
          {{ test_form.deadline }}<br>
          {{ test_form.boss }}<br>
          {{ test_form.five }}<br>
          {{ test_form.four }}<br>
          {{ test_form.three }}<br>
          {{ test_form.two }}<br>

          {{ questions_form.question }}<br>
          {{ questions_form.first_answer }}<br>
          {{ questions_form.second_answer }}<br>
          {{ questions_form.third_answer }}<br>
          {{ questions_form.four_answer }}<br>
          {{ questions_form.number_correct_answer}}<br>
            <span>{{ error }}</span>
          <button type="button" class="add-question">Добавить вопрос +</button>
          <button type="submit">Сохранить</button>
        </form>
      </div>
    </main>
  </body>
  <script src="/static/js/script.js"></script>
</HTML>