<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <form method="post" action="">
    {% csrf_token %}
    <div> Новое название
      {{ update_form.new_name }} (необязательно)
    </div>
    <div> Новый логин
      {{ update_form.new_login }} (необязательно)
    </div>
    <div>Новый пароль
      {{ update_form.new_password}} (необязательно)
    </div>
    <div>
      <button type="submit">Подтвердить</button>
      <button type="button"onclick="location.href={% url 'teacher' %}">Назад</button>
    </div>
  </form>
</body>
</html>