<!DOCTYPE html>
<HTML>
  <head>
    <title>Constructor</title>
    <link rel="stylesheet" href="/static/css/normalize.css?{% now 'U' %}">
    <link rel="stylesheet" href="/static/css/constructor.css?{% now 'U' %}">
    <link rel="stylesheet" href="/static/css/accordion.css?{% now 'U' %}">
  </head>
  <body>
    <header class="header-container">
      <div class="btn-container">
        <button class="btn" onclick="window.location.href='{% url 'teacher' %}'">Главная</button>
        <div id = "nav" class="profile">
          <ul>
            <li><a href = "#">{{ user.last_name }} {{ user.first_name }}</a>
              <ul class = "second profile__second">
                <li><a href = "{% url 'main' %}">На главную</a></li>
                <li><a href = "#">Профиль</a></li>
                <li><a href = "{% url 'logout' %}">Выйти</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main class="main-container">
      <h2 class="main-container__h">Конструктор заданий</h2>
      <div class="test__container">
        <form method="post" class="form">
            {% csrf_token %}
            {{formset.management_form}}
            {% for form in formset %}
                <div class="bird-form">{{form.as_p}}</div>
            {% endfor %}
            <span>{{ error }}</span>
          <button type="button" class="add-question">Добавить вопрос +</button>
          <button type="submit">Сохранить</button>
        </form>
      </div>
    </main>
  </body>
  <script src="/static/js/script.js"></script>
</HTML>