<!DOCTYPE html>
<HTML>
  <head>
    <title>Passing the test</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/task.css">
  </head>
  <body class="body-container">
    <header class="header-container">
      <div class="nav-container">
        <span class="timer">12:05</span>
        <span class="name-test">Название теста (Тест №1)</span>
        <!-- <button class="btn-end" form="all-form">Завершить</span> -->
      </div>
    </header>
      <div class="container-battle">
        <div class="container-battle__item">
          <div class="block__character container-battle__student">student</div>
          <span>100 HP</span>
        </div>
        <!-- Невидимый. Работает неисправно -->
        <div class="block__character container-battle__img-battle">vs</div>
        <div class="container-battle__item">
          <div class="block__character container-battle__enemy">enemy</div>
          <span>90 HP</span>
        </div>
      </div>
    <main class="main-container">
      <!-- <form action="https://jsonplaceholder.typicode.com/posts"  method="post" id="all-form"> -->
      
      <form class="question" action="https://jsonplaceholder.typicode.com/posts" method="post" id="task_1">
        <h2 class="question__title">Задание <span>1</span></h2>
        <p>2 + 2 =</p>
        <label for="">
          <input type="radio" name="1" value="2"> 2
        </label>
        <label for="">
          <input type="radio" name="1" value="4"> 4
        </label>
        <label for="">
          <input type="radio" name="1" value="16"> 16
        </label>
        <label for="">
          <input type="radio" name="1" value="3"> 3
        </label>
        <input type="submit">
      </form>

      <form class="question" action="https://jsonplaceholder.typicode.com/posts" method="post" id="task_2">
        <h2 class="question__title">Задание <span>2</span></h2>
        <p>2 + 2 =</p>
        <label for="">
          <input type="checkbox" name="2" value="2"> 2
        </label>
        <label for="">
          <input type="checkbox" name="2" value="4"> 4
        </label>
        <label for="">
          <input type="checkbox" name="2" value="16"> 16
        </label>
        <label for="">
          <input type="checkbox" name="2" value="3"> 3
        </label>
        <input type="submit">
      </form>

      <form class="question" action="https://jsonplaceholder.typicode.com/posts" method="post" id="task_3">
        <h2 class="question__title">Задание <span>3</span></h2>
        <p>2 + 2 =</p>
        <label for="">
          <input type="radio" name="3" value="2"> 2
        </label>
        <label for="">
          <input type="radio" name="3" value="4"> 4
        </label>
        <label for="">
          <input type="radio" name="3" value="16"> 16
        </label>
        <label for="">
          <input type="radio" name="3" value="3"> 3
        </label>
        <input type="submit">
      </form>

      <form class="question" action="https://jsonplaceholder.typicode.com/posts" method="post" id="task_4">
        <h2 class="question__title">Задание <span>4</span></h2>
        <p>2 + 2 =</p>
        <label for="">
          <input type="radio" name="4" value="2"> 2
        </label>
        <label for="">
          <input type="radio" name="4" value="4"> 4
        </label>
        <label for="">
          <input type="radio" name="4" value="16"> 16
        </label>
        <label for="">
          <input type="radio" name="4" value="3"> 3
        </label>
        <input type="submit">
      </form>

      <form class="question" action="https://jsonplaceholder.typicode.com/posts" method="post" id="task_5">
        <h2 class="question__title">Задание <span>5</span></h2>
        <p>2 + 2 =</p>
        <label for="">
          <input type="radio" name="5" value="2"> 2
        </label>
        <label for="">
          <input type="radio" name="5" value="4"> 4
        </label>
        <label for="">
          <input type="radio" name="5" value="16"> 16
        </label>
        <label for="">
          <input type="radio" name="5" value="3"> 3
        </label>
        <input type="submit">
      </form>

      <form class="question" action="https://jsonplaceholder.typicode.com/posts" method="post" id="task_6">
        <h2 class="question__title">Задание <span>6</span></h2>
        <p>2 + 2 =</p>
        <label for="">
          <input type="radio" name="6" value="2"> 2
        </label>
        <label for="">
          <input type="radio" name="6" value="4"> 4
        </label>
        <label for="">
          <input type="radio" name="6" value="16"> 16
        </label>
        <label for="">
          <input type="radio" name="6" value="3"> 3
        </label>
        <input type="submit">
      </form>

      <form class="question" action="https://jsonplaceholder.typicode.com/posts" method="post" id="task_7">
        <h2 class="question__title">Задание <span>7</span></h2>
        <p>2 + 2 =</p>
        <label for="">
          <input type="radio" name="7" value="2"> 2
        </label>
        <label for="">
          <input type="radio" name="7" value="4"> 4
        </label>
        <label for="">
          <input type="radio" name="7" value="16"> 16
        </label>
        <label for="">
          <input type="radio" name="7" value="3"> 3
        </label>
        <input type="submit">
      </form>

    </main>
  </body>
  <script src="/static/js/script.js"></script>
</HTML>