<!DOCTYPE html>
<HTML>
  <head>
    <title>Teacher</title>
    <link rel="stylesheet" href="/static/css/normalize.css?{% now 'U' %}">
    <link rel="stylesheet" href="/static/css/accordion.css?{% now 'U' %}">
    <link rel="stylesheet" href="/static/css/teacher.css?{% now 'U' %}">
  </head>
  <body>
    <header class="header-container">
      <div class="container">
        <div class="btn-container">
          <a href="{% url 'main' %}"><h1 class="logo">WEP</h1></a>
          <a class="btn" href="{% url 'constructor' %}">Конструктор</a>
          <a class="btn" href="{% url 'rating_table' %}">Рейтинг</a>
          <a class="btn" href="{% url 'rating_table' %}">Статистика</a>
          <div id = "nav">
            <ul>
              <li><a href = "#" class="profile">{{ user.last_name }} {{ user.first_name }}</a>
                <ul class = "second profile__second">
                  <li><a class="second_cell" href = "{% url 'main' %}">На главную</a></li>
                  <li><a class="second_cell" href = "#">Профиль</a></li>
                  <li><a class="second_cell" href = "{% url 'logout' %}">Выйти</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="main-container">
      <div class="container">
        <ul class="list-blocks">
          <li class="stat">
            <div class="block__container"> 
              <h2 class="block__h">Статистика</h2>
            </div>
          </li>
          <li class="class">
            <div class="block__container"> 
              <h2 class="block__h">Группы</h2>
              <button class="block__btn">Добавить новую группу +</button>
            </div>
          </li>
          <li class="task">
            <div class="block__container"> 
              <h2 class="block__h">Тесты</h2>
              <button class="block__btn" onclick="window.location.href='{% url 'constructor' %}'">Добавить новый тест +</button>
            </div>
          </li>
        </ul>
      </div>
    </main>
  </body>
</HTML>