<!DOCTYPE html>
<HTML>
  <head>
    <title>Teacher</title>
    <link rel="stylesheet" href="/static/css/normalize.css?{% now 'U' %}">
    <link rel="stylesheet" href="/static/css/accordion.css?{% now 'U' %}">
    <link rel="stylesheet" href="/static/css/teacher.css?{% now 'U' %}">
    <link rel="stylesheet" href="/static/css/modal-window.css?{% now 'U' %}">
  </head>
  <body>
    <div class="modal-overlay"></div>
    <header class="header-container">
      <div class="container">
        <div class="btn-container">
          <a href="{% url 'main' %}"><h1 class="logo">WEP</h1></a>
          <a class="btn" href="{% url 'constructor' %}">Конструктор</a>
          <a class="btn" href="{% url 'rating_table' %}">Рейтинг</a>
          <a class="btn" href="{% url 'rating_table' %}">Статистика</a>
          <div id = "nav">
            <ul>
              <li><a href = "#" class="profile">{{ user.last_name }} {{ user.first_name }}</a>
                <ul class = "second profile__second">
                  <li><a class="second_cell" href = "{% url 'main' %}">На главную</a></li>
                  <li><a class="second_cell" href = "#">Профиль</a></li>
                  <li><a class="second_cell" href = "{% url 'logout' %}">Выйти</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="main-container">
      <div class="container">
        <ul class="list-blocks">
          <li class="stat">
            <div class="block__container"> 
              <h2 class="block__h">Статистика</h2>
            </div>
          </li>
          <li class="class">
            <div class="block__container"> 
              <h2 class="block__h">Группы</h2>
              <button class="block__btn add-new-group">Добавить новую группу +</button>
            </div>
          </li>
          <li class="task">
            <div class="block__container"> 
              <h2 class="block__h">Тесты</h2>
              {% for task in object_list %}
                      <a href="{% url 'task' %}">
      {#                <a href="{{ task.get_absolute_url }}">#}
                          <div class="block__test">
                              <span>Название: {{task.title}} - {{task.difficulty}}</span>
                              <span>Предмет:&nbsp;{{task.subject}}</span>
                              <span class="block__test_block">Дедлайн: {{task.time_deadline}} {{task.date_deadline}}</span>
                          </div>
                      </a>
                  {% endfor %}
              <button class="block__btn" onclick="window.location.href='{% url 'constructor' %}'">Добавить новый тест +</button>
              {{ user.test_set.all }}
            </div>
          </li>
        </ul>
      </div>
    </main>

    <div class="modal-window">
      <div class="modal_position_relative">
        <h3 class="modal-window__headling">Создание новой группы</h3>
        <form action="{% url 'add_group' %}" method="post" class="form-group">
          {% csrf_token %}
          {{ form.group_name.label_tag}} 
          <div>{{ form.group_name}}</div>
          {{ group_form.login.label_tag}} 
          <div>{{ group_form.login}}</div>
          {{ group_form.password.label_tag}} 
          <div>{{ group_form.password}}</div>
          <button type="submit" class="submit-modal-window">Создать</button>
        </form>
        <button type="button" class="close-modal-window"></button>
      </div>
    </div>
  </body>
  <script src="/static/js/modal-window.js?{% now 'U' %}"></script>
</HTML>