<header class="header">
  <div class="header__container">
    <a class="header__logo" routerLink="/main">
      <img class="header__logo_img" src="../../../assets/img/header/logo.png" alt="logo">
      <span class="header__logo_text">Master of Dungeons</span>
    </a>
    <div class="header__nav">
      <span class="header__name-user"> {{userName}} </span>
      <a><img class="header__notification" src="../../../assets/img/header/notification.svg" alt="notification"></a>
      <a routerLink="/profile"><img class="header__profile" src="../../../assets/img/nav-bar/profile1.svg" alt="profile"></a>
    </div>
  </div>
</header>
