* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.header {
  font-size: 22px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  width: 100%;

  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: row;

  max-width: 1200px;
  width: 100%;

  margin: 0 auto;
  height: 100%;
  padding: 0 35px 0 0;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  text-align: center;

  margin: 10px 0 10px 0;
}

.header__logo_img {
  position: relative;
  height: 45px;
  width: 45px;

  margin-right: 12px;
}

.header__logo_text {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 47px;

  color: var(--blue-main);
}

.header__nav {
  position: relative;
  top: 2px;

  display: flex;
  margin-left: auto;
  flex-direction: row;
  align-items: center;
}

.header__text {
  font-size: 14px;
  line-height: 28px;

  color: #000000;
  margin-right: 15px;
}

.header__link {
  text-decoration: none;
  color: var(--blue-main);
}

.header__link:first-child {
  margin-right: 20px;
}


.reg__container {
  width: 100%;

  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  /*justify-items: center;*/
  background: #F7F7F7;
}

.reg__window {
  margin: 75px auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  max-width: 400px;
  /*max-height: 300px;*/
  min-width: 300px;
  /*min-height: 230px;*/
  width: 25vw;
  /*height: 50vh;*/

  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.template {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.template__back-btn {
  position: absolute;
  top:5px;
  left: 0;

  background: none;
  border: none;
  cursor: pointer;

}

.template__back-btn img {
  width: 25px;
  height: 25px;
}

.choose-btn {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.choose-btn_img {
  position: absolute;
  left: 40px;
  width: 40px;
  height: 40px;
}

.choose-btn_img {
  width: 40px;
  height: 40px;
}

.choose-btn:last-child {
  margin-bottom: 30px;
}

.reg__form-h {
  font-size: 24px;
  line-height: 56px;
  margin: 15px 0 10px 0;
}

.form {
  /*position: relative;*/
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  margin-bottom: 7px;
}

.form input, select {
  height: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.btn-submit {
  margin-top: 20px;
}

.footer__container {
  margin-bottom: 15px;
}

.footer__text {
  font-size: 9px;
  margin-right: 10px;
}

.footer__link {
  font-size: 12px;
  text-decoration: none;
  color: var(--blue-main);
}

