<header class="header">
  <div class="header__container">
    <a class="header__logo" routerLink="/main">
      <img class="header__logo_img" src="../../../assets/img/header/logo.png" alt="logo">
      <span class="header__logo_text">Master of Dungeons</span>
    </a>
    <div class="header__nav">
      <span class="header__text">Уже есть учетная запись ?</span>
      <a routerLink="/login" class="header__link">ВХОД</a>
    </div>
  </div>
</header>

<main class="reg__container">
  <div class="reg__window">

    <div class="template" *ngIf="!nextPage">
      <h2 class="reg__form-h">Создать учетную запись</h2>
      <button tuiButton appearance="whiteblock-active" type="button"
              class="tui-space_right-4 choose-btn" (click)="chooseRoleStudent()">
        <img src="../../../assets/img/registration/student.svg" class="choose-btn_img">
        Я ученик
      </button>
      <button tuiButton appearance="whiteblock-active" type="button"
              class="tui-space_right-4 choose-btn " (click)="chooseRoleTeacher()">
        <img src="../../../assets/img/registration/teacher.svg" class="choose-btn_img">
        Я учитель
      </button>
      <div class="footer__container">
        <span class="footer__text">Уже есть учетная запись ?</span>
        <a routerLink="/login" class="footer__link">Войти</a>
      </div>
    </div>

    <div class="template" *ngIf="nextPage">
      <button class="template__back-btn" (click)="previousPage()">
        <img class="header__logo_img" src="../../../assets/img/registration/arrow.svg" alt="logo">
      </button>
      <h2 class="reg__form-h">Регистрация</h2>
      <form class="form" [formGroup]="formRegister" (ngSubmit)="registration()">
        <input placeholder="Электронная почта" type="email" formControlName="email"/>
        <input placeholder="Пароль" type="password" formControlName="password"/>
        <input placeholder="Подтверждение пароля" type="password" formControlName="password2"/>

        <input placeholder="Фамилия" type="text" formControlName="last_name"/>
        <input placeholder="Имя" type="text" formControlName="first_name"/>
        <input placeholder="Отчество" type="text" formControlName="patronymic"/>

        <select placeholder="Город" type="text" class="form-select" formControlName="location">
          <option value="Екатеринбург">Екатеринбург</option>
          <option value="option-2">Option 2</option>
        </select>
        <input placeholder="Номер школы" type="number" formControlName="school_number"/>
        <input placeholder="Город" type="text" formControlName="patronymic"/>

        <button tuiButton type="submit" appearance="outline"
                class="tui-space_right-3 tui-space_bottom-3 btn-submit" size="s">
          Подтвердить
        </button>
      </form>
      <div class="footer__container">
        <span class="footer__text">Уже есть учетная запись ?</span>
        <a routerLink="/login" class="footer__link">Войти</a>
      </div>
    </div>

  </div>
</main>
