<div class="tests__container">
  <div class="tests__nav-container">
    <h2 class="tests__title">Текущие задания</h2>
  </div>
  <div class="tests__block-container">
    <div *ngFor="let task of tasks" class="tests__block-group">
      <div class="test__field">
        <span>Название: </span>
        <span>{{ task.title }}</span>
      </div>
      <div class="test__field">
        <span>Предмет: </span>
        <span>{{ task.subject }}</span>
      </div>
      <div class="test__field">
        <span>Дедлайн: </span>
        <span>{{ task.time_deadline }} {{ task.date_deadline }}</span>
      </div>
      <div class="test__field">
        <span>Попытки: </span>
        <span>3</span>
      </div>
    </div>
  </div>

  <tui-accordion-item>
    Выполненные тесты
    <ng-template tuiAccordionItemContent>
      <div class="group__block-container">
        <div *ngFor="let test of completedTests" class="tests__block-group">
          <div class="test__field">
            <span>Название: </span>
            <span>{{ test.title }}</span>
          </div>
          <div class="test__field">
            <span>Предмет: </span>
            <span>{{ test.subject }}</span>
          </div>
          <div class="test__field">
            <span>Дедлайн: </span>
            <span>{{ test.time_deadline }} {{ test.date_deadline }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </tui-accordion-item>
</div>

