<h1 class="table-title">Рейтинговая таблица</h1>
      <div class="table">
        <div class="table__nav">
          <button class="btn-nav table__btn-class">Класс</button>
          <button class="btn-nav table__btn-school">Школа</button>
        </div>
        <div class="table__body">
<!--         {% for stat in stats %}-->
          <div class="table__cell">
            <span class="position">1</span>
            <span class="name">ФИО</span>
            <div class="block__score">
              Очки: <span class="score">stat.score</span>
              Опыт: <span class="experience">stat.experience</span>
              Уровень: <span class="lvl">stat.lvl</span>
            </div>
          </div>
        </div>
      </div>
