<div class="groups__container">
  <div class="groups__nav-container">
    <h2 class="groups__title">Группы</h2>
    <button class="groups__btn-add" (click)="showDialog()">+ Новая группа</button>
  </div>
  <div class="groups__block-container">
    <div *ngFor="let group of groups" class="groups__block-group" routerLink='/teacher/group/details/{{group.id}}'>
      <div class="groups__block-group_header" [ngStyle]="{'background-color': color}">
        {{ group.group_name }}
      </div>
      <div class="groups__block-group_body">
        <div>login: {{ group.login }}</div>
        <div>пароль: {{ group.password }}</div>
      </div>
    </div>
  </div>
</div>
<app-dialog-window *ngIf="isOpen" (isOpen)="manageDialog($event)"></app-dialog-window>
