<div class="groups__container">
  <div class="groups__nav-container">
    <h2 class="groups__title">Статистика по группам</h2>
  </div>
  <div class="groups__block-container">
    <div *ngFor="let group of groups" class="groups__block-group">
      <tui-accordion-item class="group__participants">
        {{group.group_name}}
        <ng-template tuiAccordionItemContent >
<!--          <div *ngFor="let account of accounts; let i=index">-->
            <div>
              Выполненные задания
            </div>
            <div class="group__participant" *ngFor="let test of testRecord">
              <div>{{ test.user_name }}</div>
              <span>Название теста: {{ test.test_name }}</span>
              <span>Правильные ответы: {{ test.count_correct }}</span>
              <span>Оценка: {{ test.grades }}</span>
            </div>
<!--          </div>-->
        </ng-template>
      </tui-accordion-item>
    </div>
  </div>
</div>
