<div class="task-container">
  <header class="header-container">
  <div class="nav-container">
    <span class="timer">{{ task.time }}</span>
    <span class="name-test">{{ task.title }}</span>
  </div>
</header>
  <div class="container-battle">
    <div class="container-battle__item">
      <div class="block__hero container-battle__student">
        <img class="" [src]="hero.photo">
      </div>
      HP: <span>{{ heroHP }}</span>
    </div>
    <div class="block__boss container-battle__img-battle">vs</div>
    <div class="container-battle__item">
      <div class="block__boss container-battle__enemy">
        <img class="" [src]="boss.photo">
      </div>
      HP: <span>{{ bossHP }}</span>
    </div>
  </div>
  <main class="main-container">
    <div *ngFor="let question of questions;  let i = index;" id="task_{{ question.id }}">
      <div *ngIf="this.serialNumberQuestion == i" class="question">
        <div class="block__question">
          <h2 class="question__title">Задание <span>{{i + 1}} </span></h2>
          <p>{{ question.question }}</p>
        </div>
        <label>
          <input type="radio" name="answer" [value]='1' [(ngModel)]="formChoice" > {{ question.first_answer }}
        </label>
        <label>
          <input type="radio" name="answer" [value]='2' [(ngModel)]="formChoice" > {{ question.second_answer }}
        </label>
        <label>
          <input type="radio" name="answer" [value]='3' [(ngModel)]="formChoice" > {{ question.third_answer }}
        </label>
        <label>
          <input type="radio" name="answer" [value]='4' [(ngModel)]="formChoice" > {{ question.four_answer }}
        </label>
        <button tuiButton type="button" size='s' (click)="sendAnswer()" appearance="primary"
                class="tui-space_right-3 tui-space_bottom-3 btn-send">
          Отправить
        </button>
      </div>
    </div>
    	<button tuiButton type="button" appearance="custom" size='s'
      class="submit" (click)="completeTask()">
          Завершить тест
      </button>
  </main>
</div>
