<div class="nav-bar">
  <ul class="nav-bar__container">
    <li class="nav-bar__el" routerLinkActive="active" routerLink="/teacher/constructor/task-constructor">
      <img class="nav-bar__img" src="../../../../../assets/img/nav-bar/constructor.svg" alt="logo">
      <a class="nav-bar__link">Конструктор заданий</a>
    </li>
    <li class="nav-bar__el" routerLinkActive="active" routerLink="/teacher/task/list">
      <img class="nav-bar__img nav-bar__img_tasks" src="../../../../../assets/img/nav-bar/task.svg" alt="logo">
      <a class="nav-bar__link">Задания</a>
    </li>
    <li class="nav-bar__el" routerLinkActive routerLinkActive="active" routerLink="/teacher/group/list" >
      <img class="nav-bar__img nav-bar__img_groups" src="../../../../../assets/img/nav-bar/group.svg" alt="logo">
      <a class="nav-bar__link">Группы</a>
    </li>
    <li class="nav-bar__el" routerLinkActive="active" routerLink="/teacher/statistics-teacher" >
      <img class="nav-bar__img" src="../../../../../assets/img/header/profile.svg" alt="logo">
      <a class="nav-bar__link">Статистика</a>
    </li>
    <li class="nav-bar__el" routerLinkActive="active" routerLink="/teacher/statistics">
      <img class="nav-bar__img" src="../../../../../assets/img/nav-bar/crown-1.svg" alt="logo">
      <a class="nav-bar__link">Таблица рейтинга</a>
    </li>
    <li class="nav-bar__el">
      <img class="nav-bar__img" src="../../../../../assets/img/nav-bar/documentation.svg" alt="logo">
      <a class="nav-bar__link">Help</a>
    </li>
    <li class="nav-bar__el">
      <a class="nav-bar__link" routerLink="">вернуться на главную</a>
    </li>
  </ul>
</div>
