<div class="nav-bar">
  <ul class="nav-bar__container">
    <li class="nav-bar__el" routerLinkActive="active">
      <img class="nav-bar__img" src="../../../../../assets/img/nav-bar/constructor.svg" alt="logo">
      <a class="nav-bar__link" routerLink="/teacher/constructor/task-constructor">Конструктор заданий</a>
    </li>
    <li class="nav-bar__el" routerLinkActive="active">
      <img class="nav-bar__img nav-bar__img_tasks" src="../../../../../assets/img/nav-bar/task.svg" alt="logo">
      <a class="nav-bar__link" routerLink="/teacher/task/list" routerLinkActive="active">Задания</a>
    </li>
    <li class="nav-bar__el" routerLinkActive routerLinkActive="active">
      <img class="nav-bar__img nav-bar__img_groups" src="../../../../../assets/img/nav-bar/group.svg" alt="logo">
      <a class="nav-bar__link" routerLink="/teacher/group/list" >Группы</a>
    </li>
    <li class="nav-bar__el">
      <img class="nav-bar__img" src="../../../../../assets/img/header/profile.svg" alt="logo">
      <a class="nav-bar__link" routerLink="/teacher/statistics-teacher" >Статистика</a>
    </li>
    <li class="nav-bar__el">
      <img class="nav-bar__img" src="../../../../../assets/img/nav-bar/crown-1.svg" alt="logo">
      <a class="nav-bar__link" routerLink="/teacher/statistics" >Таблица рейтинга</a>
    </li>
    <li class="nav-bar__el">
      <img class="nav-bar__img" src="../../../../../assets/img/nav-bar/documentation.svg" alt="logo">
      <a class="nav-bar__link" routerLink="/">Help</a>
    </li>
    <li class="nav-bar__el">
      <a class="nav-bar__link" routerLink="">вернуться на главную</a>
    </li>
  </ul>
</div>
