.tests__container {
  position: relative;
  padding: 10px 50px 50px 20px;
}

.tests__nav-container {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.tests__title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
}

.tests__btn-add {
  padding: 10px 30px;
  /*height: 30px;*/
  align-items: center;
  background: var(--blue-main);
  border: 1px solid var(--blue-main);
  border-radius: 15px;
  color: var(--color-navbar-text);
}

.tests__block-container {
  /*padding-right: 100px;*/
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  position: relative;
  width: 90%;
}

.tests__block-group {
  position: relative;
  padding: 20px 30px;
  width: 46%;
  display: flex;
  flex-direction: column;
  border: 3px solid var(--blue-main);
  border-radius: 20px;
  margin-right: 7%;
  margin-bottom: 30px;
}

.tests__block-group:nth-child(2n) {
  margin-right: 0;
}

.test__field {
  display: grid;
  grid-template-columns: 24% 76%;
  margin-bottom: 5px;
}

.control-panel {
  position: absolute;
  padding: 5px 0 5px 0;
  right: 0;
  top: 0;
  width: 10%;
  height: 100%;
  border-left: 3px solid var(--blue-main);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-panel__btn_edit {
  width: 25px;
  height: 25px;
}

.control-panel__btn_view {
  width: 25px;
  height: 25px;
  /*margin-bottom: 10px;*/
}

.control-panel__btn_delete {
  width: 25px;
  height: 25px;
}
