<!DOCTYPE html>
<HTML>
  <head>
    <title>Ученик</title>
    <link rel="stylesheet" href="/static/css/normalize.css?{% now 'U' %}">
    <link rel="stylesheet" href="/static/css/accordion.css?{% now 'U' %}">
    <link rel="stylesheet" href="/static/css/student.css?{% now 'U' %}">
  </head>
  <body>
    <header class="header-container">
      <div class="btn-container">
        <button class="btn" onclick="window.location.href='{% url 'rating_table' %}'">Рейтинг</button>
        <button class="btn">Статистика</button>
        <button class="btn">Персонаж</button>
        <div id = "nav" class="profile">
          <ul>
            <li><a href = "#">{{ user.last_name }} {{ user.first_name }}</a>
              <ul class = "second profile__second">
                <li><a href = "{% url 'main' %}">На главную</a></li>
                <li><a href = "#">Профиль</a></li>
                <li><a href = "{% url 'logout' %}">Выйти</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main class="main-container">
      <section class="character-block block">
        <div class="block__container">
          <h2 class='block__h'>Персонаж</h2>
          <div class="block__character"></div>
          <div class="block__rating-position" onclick="window.location.href='{% url 'rating_table' %}'">
            <span class="place_in_rating">5 место из 25</span>
          </div>
          <div class="block__characteristic">
            <h4>Характеристики</h4>
          </div>
        </div>
      </section>
      <section class="tasks-block block">
        <div class="block__container">
          <h2 class='block__h'>Текущие задания</h2>
          <a href="{% url 'task' %}">
            <div class="block__test">
              <span>Тест №1 - 10 вопросов</span>
              <span>Предмет: Физика</span>
              <span>Учитель: кто-то там</span>
            </div>
          </a>
          <a href="{% url 'task' %}">
            <div class="block__test">
              <span>Тест №2 - 25 вопросов</span>
              <span>Предмет: Физика</span>
              <span>Учитель: кто-то там</span>
            </div>
          </a>
        </div>
      </section>
    </main>
  </body>
  <script src="/static/js/script.js"></script>
</HTML>