<!DOCTYPE html>
<HTML lang="ru">
  <head>
    <title>Passing the test</title>
    <link rel="stylesheet" href="/static/css/normalize.css?{% now 'U' %}">
    <link rel="stylesheet" href="/static/css/task.css?{% now 'U' %}">
  </head>
  <body class="body-container">
    <header class="header-container">
      <div class="nav-container">
        <span class="timer">{{ test.time }}</span>
        <span class="name-test">{{ test.title }}</span>
        <!-- <button class="btn-end" form="all-form">Завершить</span> -->
      </div>
    </header>
      <div class="container-battle">
        <div class="container-battle__item">
          <div class="block__character container-battle__student">student</div>
          <span>100 HP</span>
        </div>
        <!-- Невидимый. Работает неисправно -->
        <div class="block__character container-battle__img-battle">vs</div>
        <div class="container-battle__item">
          <div class="block__character container-battle__enemy">enemy</div>
          <span>90 HP</span>
        </div>
      </div>
    <main class="main-container">
        <form class="question" method="post" id="task_{{ question.id }}">
        {% csrf_token %}
          <h2 class="question__title">Задание <span>{{ forloop.counter }}</span></h2>
          <p>{{ question.question }}</p>
          <input type="hidden" name="id" value="{{ question.id }}">
          <label for="">
            <input type="radio" name="answer" value="{{ question.first_answer }}"> {{ question.first_answer }}
          </label>
          <label for="">
            <input type="radio" name="answer" value="{{ question.second_answer }}"> {{ question.second_answer }}
          </label>
          <label for="">
            <input type="radio" name="answer" value="{{ question.third_answer }}"> {{ question.third_answer }}
          </label>
          <label for="">
            <input type="radio" name="answer" value="{{ question.four_answer }}"> {{ question.four_answer }}
          </label>
          <input type="submit">
        </form>
      <a href="{% url 'task' test.id id %}"> Следующий вопрос</a>
      <a href="{% url "student" %}"> Завершить</a>
    </main>
  </body>
  <script src="/static/js/script.js"></script>
</HTML>