<div class="constructor__container">
  <div class="constructor__nav-container">
    <h2 class="constructor__title">Конструктор заданий</h2>
  </div>
  <div class="constructor__block-container">
    <div *ngIf="!nextPage" class="test__container">
      <form method="post" class="form" [formGroup]="testFrom" (ngSubmit)="submit()">
        <div class="block__test">
          <span>Название теста:</span>
          <div>
            <textarea name="story" rows="2" cols="45" formControlName="title"></textarea>
          </div>
        </div>
        <div class="form__item">
          <ul class="list_reset">
            <li class="sec__item">
              <span>Название предмета: </span>
              <div>
                <textarea name="story" rows="1" cols="45" formControlName="subject"></textarea>
              </div>
            </li>
            <li class="sec__item">
              <span>Дополнительный текст к тесту: </span>
              <div>
                <textarea name="story" rows="3" cols="45" formControlName="text"></textarea>
              </div>
            </li>
            <li class="sec__item">
              <span>Сложность: </span><input type="number" min="0" max="10"
                                             formControlName="difficulty"> [от 0 до 10]
            </li>
          </ul>

          <div class="field__groups">
            Выбор группы:
            <ul class="list-group">
              <li *ngFor="let group of groups; let i=index">
                Название: {{group.group_name}}
<!--                <input type="checkbox" [value]="group.id" (change)="onCheckChange($event)">-->
                <input class="checkbox-group" type="checkbox" name="" formControlName="group">
              </li>
            </ul>
          </div>

          <div>
            Выбор босса:
            <ul class="list-boss">
              <li *ngFor="let boss of bosses">
                <img [src]="boss.photo">
                Здоровье: {{boss.health}}
                Сила: {{boss.health}}
                Стойкость: {{boss.health}}
                <input class="radio-boss" type="radio" formControlName="boss" value={{boss.id}} checked>
              </li>
            </ul>
          </div>

        </div>
        <div class="form__item">
          <ul class="list_reset">
            <li class="sec__item">
              <div>
                <span>Время выполнения: <input type="time" formControlName="time"></span> [часы:минуты]
              </div>
            </li>
            <li class="sec__item">
              <div style="margin-bottom: 10px;">
                <span>Время сдачи: <input type="time" formControlName="time_deadline"></span>
                [часы:минуты]</div>
              <div>
                <span>Дата сдачи: <input type="date" formControlName="date_deadline"></span>
                [день:месяц:год]
              </div>
            </li>
            <span>Количество попыток: </span>
            <input type="number" value="1" class="field__mark" formControlName="" min="1">
          </ul>
        </div>
        <div class="form__item">
          <ul class="list_reset mark-list">
            <span class="mark-list__tiitle">Критерии оценивания:</span>
            <li>5 - <input type="number" class="field__mark" formControlName="five" min="0"></li>
            <li>4 - <input type="number" class="field__mark" formControlName="four" min="0"></li>
            <li>3 - <input type="number" class="field__mark" formControlName="three" min="0"></li>
            <li>2 - <input type="number" class="field__mark" formControlName="two" min="0"></li>
          </ul>
        </div>
        <!-- <button type="button" class="add-question">Добавить вопрос +</button> -->
        <button type="submit" class="btn-save" (click)="saveTest()">Сохранить</button>
        <span>{{ error }}</span>
      </form>
      <div class="explanations">
        <h2 class="explanations__heading">Памятка</h2>
        <span class="explanations__text">
          Заполните все поля формы и нажмите кнопку "Сохранить".
        </span>
      </div>
    </div>
  </div>


  <div *ngIf="nextPage" class="test__container">
    <form method="post">
      <fieldset class="form-question">
        <h3 class="title-question-number">Вопрос №<span class="question-number">1</span></h3>
        <div>
          <div class="form__item">
            Поле для ввода вопроса
            <div>
              <textarea type="text"></textarea>
            </div>
          </div>
          <div class="form__item">
            Вариант ответа №1:
            <div>
              <textarea type="text" class="input-answer"></textarea>
            </div>
          </div>
          <div class="form__item">
            Вариант ответа №2:
            <div>
              <textarea type="text" class="input-answer"></textarea>
            </div>
          </div>
          <div class="form__item">
            Вариант ответа №3:
            <div>
              <textarea type="text" class="input-answer"></textarea>
            </div>
          </div>
          <div class="form__item">
            Вариант ответа №4:
            <div>
              <textarea type="text" class="input-answer"></textarea>
            </div>
          </div>
          <div class="form__item">
            Номер правильного ответа:
            <input type="number" class="input-number"/>
          </div>
          <div class="form__item">
            Количество баллов:
            <input type="number" class="input-number"/>
          </div>
        </div>
        <button type="button" class="add-question">Удалить вопрос -</button>
      </fieldset>
      <fieldset class="form-fieldset">
        <button type="button" class="add-question">Добавить вопрос +</button>
        <button type="submit" class="btn-save">Сохранить</button>
        <button type="submit" class="btn-save" (click)="returnTest()">Назад</button>
      </fieldset>
    </form>
    <div class="explanations">
      <h4 class="explanations__heading">Памятка</h4>
      <span class="explanations__text">
        Заполните все поля формы и нажмите кнопку "Сохранить".
        <p>Будет создано тестовое задание, которым можно поделиться с учениками.</p>
      </span>
    </div>
  </div>
</div>
