<div class="tests__container">
  <div class="tests__nav-container">
    <h2 class="tests__title">Текущие задания</h2>
  </div>
  <div class="tests__block-container">
    <div *ngFor="let task of tasks" class="tests__block-group">
      <div class="test__field">
        <span>Название: </span>
        <span>{{ task.title }}</span>
      </div>
      <div class="test__field">
        <span>Предмет: </span>
        <span>{{ task.subject }}</span>
      </div>
      <div class="test__field">
        <span>Дедлайн: </span>
        <span>{{ task.time_deadline }} {{ task.date_deadline }}</span>
      </div>
      <div>
        <span>Текст: {{ task.text }}</span>
      </div>
      <div class="control-panel">
        <a><img class="control-panel__btn_edit" src="../../../assets/img/tasks/edit.svg" alt="edit"></a>
        <a routerLink="/teacher/task/details/{{task.id}}"><img class="control-panel__btn_view" src="../../../assets/img/nav-bar/task.svg" alt="view"></a>
        <a (click)="deleteTask(task.id)"><img class="control-panel__btn_delete" src="../../../assets/img/tasks/delete.svg" alt="delete"></a>
      </div>
    </div>
  </div>
</div>

