.profile__container {
  position: relative;
  padding: 10px 50px 50px 20px;
}

.profile__nav-container {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.profile__title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
}

.profile__btn-add {
  padding: 10px 30px;
  /*height: 30px;*/
  align-items: center;
  background: var(--blue-main);
  border: 1px solid var(--blue-main);
  border-radius: 15px;
  color: var(--color-navbar-text);
}

.profile__block-container {
  /*padding-right: 100px;*/
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  position: relative;
  /*width: 90%;*/
  margin-bottom: 35px;
}

.profile__block {
  width: 20%;
  font-size: 18px;
}

.profile__block-group {
  padding: 15px 20px;
  min-width: 25%;
  display: flex;
  flex-direction: column;
  border: 3px solid var(--blue-main);
  border-radius: 15px;
  border-top-left-radius: 0;
  margin-right: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.test__field {
  display: grid;
  grid-template-columns: 24% 76%;
  margin-bottom: 5px;
}

.profile__btn_exit {
  margin-right: 20px;
}
