{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FrontEnd</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/static/frontend/favicon.ico">
  <link rel="stylesheet" href="/static/frontend/styles.ef46db3751d8e999.css">
</head>
<body>
  <app-root></app-root>
  <script src="{% static 'frontend/runtime.js' %}" type="module"></script>
  <script src="/static/frontend/polyfills.794d7387aea30963.js" type="module"></script>
  <script src="/static/frontend/main.3f690c4213fc0dc5.js" type="module"></script>
</body></html>