.main-container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  /*margin-top: 50px;*/
}

.list-blocks {
  display: flex;
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 10px;
  background-color: var(--header-color-1);
  position: relative;
  margin-bottom: 25px;

  /* max-height: 1000px; */
  min-height: 700px;
}

.list-blocks li {
  background-color: #fff;
  box-shadow: 0 0 6px 3px var(--sec-color);
  padding: 0 40px 20px 40px;
}

.character {
  left: 0;
  border: 1px solid #e5e5e5;
  border-radius: 10px;

  width: 46%;
  min-height: 97%;
  margin-bottom: 3%;
}

.closed-tasks {
  position: relative;
  right: 40px;
  /*border: 1px solid #e5e5e5;*/
  border-radius: 10px;

  width: 55%;
  min-height: 98%;
  /* margin-bottom: 3%; */
}

.tasks-and-teams {
  position: absolute;
  right: 0;
  background-color: var( --header-color-1) !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;

  border-radius: 10px;

  width: 52%;
  /* min-height: 98%; */
}

.tasks {
  left: 0;
  border: 1px solid #e5e5e5;
  border-radius: 10px;

  width: 100%;
  height: 50%;
  margin-bottom: 3%;
}

.teams {
  position: relative;
  left: 0;
  border: 1px solid #e5e5e5;
  border-radius: 10px;

  width: 100%;
  height: 39%;
}

.block {
  display: flex;
  position: absolute;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.block__container {
  position: relative;
  width: 100%;
  /* margin-left: 30px; */
  margin-bottom: 20px;
}

.block__container a {
  color: black;
  text-decoration: none;
}

.block__h {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--main-heading-1);
  font-size: 22px;
}

.block__btn {
  display: block;
  width: 50%;
  margin: 0 auto;
  height: 40px;

  color: var(--header-color-3);
  box-shadow: 0 0 1px 3px rgba(77, 111, 178, 0.125);
  font-size: 18px;

  border-radius: 15px;
  border: none;

  margin-bottom: 20px;
  cursor: pointer;
}

.block__character {
  margin: 0 auto;
  position: relative;
  /*left: 5px;*/
  /*border: 1px solid darkgoldenrod;*/
  /*border-radius: 17px;*/
  width: 170px;
  height: 245px;
  margin-bottom: 10px;
}

.block__character img {
  width: 100%;
  height: 100%;
}

.field-balance {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
  border: 2px solid var(--sec-color);
  width: 100px;
  height: 40px;
  /*box-shadow: 0 0 6px 3px var(--sec-color);*/
  color: #bb8d23;
  user-select: none;
}

.block__rating-position {
  user-select: none;
  position: relative;
  right: 15px;
  border: 1px solid #cfcdcd;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  height: 40px;
  margin: 0 auto;
  text-decoration: none;
  margin-bottom: 10px;
}

.place_in_rating {
  display: block;
  position: relative;
  cursor: pointer;
  top: 10px;
  color:rgb(21, 21, 163);
  height: 100%;
}

.block__characteristic {
  padding: 20px 30px 30px;
  border: 1px solid #cfcdcd;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  height: 280px;
}

.block__characteristic div {
  margin-bottom: 10px ;
}

.block__characteristic div:last-child {
  margin-top: 15px ;
}

.block__h-char {
  margin-top: 0;
  color: var(--main-heading-1);
  font-size: 18px;
}

.character-block {
  width: 40%;
  left: 0;
}

.tasks-block {
  width: 55%;
  right: 0;
}

.block__test {
  position: relative;
  padding: 5px 10px 5px 10px;
  border: 1px solid #cfcdcd;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.block__group {
  position: relative;
  padding: 5px 10px 5px 10px;
  border: 1px solid #cfcdcd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.block__test span {
  margin-right: 20px;
}

.field-containers__span_margin-right {
  margin-right: 22px !important;
}

.close-group-btn {
  z-index: 1000;
}

.control-panel__btn_edit {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.control-panel__btn_delete {
  position: absolute;
  bottom:  6px;
  right: 14px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
