<main class="main-container">
  <div class="container">
    <ul class="list-blocks">
      <li class="character">
        <div class="block__container">
          <h2 class='block__h'>Персонаж</h2>
          <div class="block__character">
            <img class="" [src]="hero.photo">
          </div>
          <div class="field-balance"> {{statistic.balance}} gold</div>
          <div class="block__rating-position" >
            <span class="place_in_rating">{{protagonist.name}} </span>
          </div>
          <div class="block__characteristic">
            <h4 class="block__h-char">Характеристики</h4>
            <div>Здоровье: {{protagonist.health }} </div>
            <div>Выносливость: {{protagonist.endurance }}</div>
            <div>Сила: {{protagonist.power }}</div>
            <div>Ловкость: {{protagonist.dexterity}}</div>
            <div>Стойкость: {{protagonist.resistance}} </div>
            <div>Свободные очки навыков: {{protagonist.up_score}}</div>
          </div>
        </div>
      </li>
      <li class="closed-tasks">
        <tui-accordion-item>
          Выполненные задания
          <ng-template tuiAccordionItemContent>
            <div class="group__block-container">
              <div *ngFor="let test of completedTests" class="tests__block-group">
                <div class="test__field">
                  <span>Название: </span>
                  <span>{{ test.title }}</span>
                </div>
                <div class="test__field">
                  <span>Предмет: </span>
                  <span>{{ test.subject }}</span>
                </div>
                <div class="test__field">
                  <span>Дедлайн: </span>
                  <span>{{ test.time_deadline }} {{ test.date_deadline }}</span>
                </div>
              </div>
            </div>
          </ng-template>
        </tui-accordion-item>
      </li>
      <li class="tasks-and-teams">
        <ul class="list-blocks">
          <li class="tasks">
            <div class="block__container">
              <h2 class='block__h'>Текущие задания</h2>
              <div *ngFor="let task of tasks" class="block__test" (click)="showDialogStartTest(task)">
                <div>Название: {{task.title}} - {{task.difficulty}}</div>
                <div>Предмет: {{task.subject}}</div>
                <div>Учитель: {{task.owner_name}}</div>
                <div>Дедлайн: {{task.time_deadline}} {{task.date_deadline}}</div>
              </div>
            </div>
          </li>
          <li class="teams">
            <div class="block__container">
              <h2 class='block__h'>Группы</h2>
              <button class="block__btn add-new-group" (click)="showDialog()">Присоединиться</button>
              <div *ngFor="let group of groups" class="block__group">
                <div>Название: {{group.group_name}}</div>
                <div>Учитель: {{group.owner_name}}</div>
                <a (click)="excludeGroup(group.id)"><img class="control-panel__btn_edit" src="../../../assets/img/minus.svg" alt="del"></a>
                <a routerLink="/student/group/details/{{group.id}}"><img class="control-panel__btn_delete" src="../../../assets/img/tasks/view.svg" alt="view"></a>
<!--                <a class="close-group-btn" routerLink="/student/group/details/{{group.id}}">watch</a>-->
<!--                <a class="close-group-btn" >del</a>-->
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</main>
<app-dialog-window-student *ngIf="isOpen" (isOpen)="manageDialog($event)"></app-dialog-window-student>
<app-dialog-window-test-start *ngIf="isOpenStartTest" [curTest]="thisTest" (isOpen)="manageDialogTest($event)"></app-dialog-window-test-start>
