{% extends "main/wrapper.html" %}

{% block content %}
<body class="container">
    <header class="header-container">
      <a href="{% url 'main' %}"><h1 class="logo">WEP</h1></a>
      <div class="header-container__item">
        <nav class="nav-header">
          <ul class="list_reset nav-header__list">
            <li class="nav-header__item"><a href="#tasks">Задания</a></li>
            <li class="nav-header__item"><a href="#description">Описание</a></li>
            <li class="nav-header__item"><a href="#reviews">Отзывы</a></li>
            <li class="nav-header__item"></li>
          </ul>
        </nav>
        <div class="label-login">
          {% if user.is_authenticated %}
          <div id = "nav" class="profile">
            <ul>
              <li><a href = "#">{{ user.last_name }} {{ user.first_name }}</a>
                <ul class = "second profile__second">
  {#                <li><a href = "{% url 'main' %}">На главную</a></li>#}
                  <li><a href = "#">Профиль</a></li>
                  <li><a href = "{% url 'logout' %}">Выйти</a></li>
                </ul>
              </li>
            </ul>
          </div>
          {% else %}
            <a href="{% url 'login' %}" class="login__btn" id="login-btn">Вход</a>
            <a href="{% url 'signup' %}" class="login__btn" id="reg-btn">Регистрация</a>
          {% endif %}
        </div>
      </div>
    </header>
    <main>
      <section class="tasks section" id="tasks">
        <h2>Задания</h2>
        <div class="btn-container">
          <button onclick="window.location.href='{% url 'teacher' %}'" class="btn-start">Начать (за учителя)</button>
          <button onclick="window.location.href='{% url 'student' %}'" class="btn-start">Начать (за ученика)</button>
          <!-- <a href="" class="btn-start">Начать</a> -->
        </div>
      </section>
      <section class="description section" id="description">
        <h2>Описание</h2>
      </section>
      <section class="reviews section" id="reviews">
        <h2>Отзывы</h2>
      </section>
    </main>
</body>
{% endblock %}