<!DOCTYPE html>
<HTML>
  <head>
    <title>Рейтинговая таблица</title>
    <link rel="stylesheet" href="/static/css/normalize.css?{% now 'U' %}">
    <link rel="stylesheet" href="/static/css/accordion.css?{% now 'U' %}">
    <link rel="stylesheet" href="/static/css/rating_table copy.css?{% now 'U' %}">
  </head>
  <body>
    <header class="header-container">
      <div class="container">
        <div class="btn-container">
          <button class="btn" id="btn-back">Назад</button>
          <a href="{% url 'main' %}"><h1 class="logo">WEP</h1></a>
          <div id = "nav">
            <ul>
              <li><a href = "#" class="profile">{{ user.last_name }} {{ user.first_name }}</a>
                <ul class = "second profile__second">
                  <li><a href = "{% url 'main' %}">На главную</a></li>
                  <li><a href = "#">Профиль</a></li>
                  <li><a href = "{% url 'logout' %}">Выйти</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="table-container">
      <h1 class="table-title">Рейтинговая таблица</h1>
      <div class="table">
        <div class="table__nav">
          <button class="btn-nav table__btn-class">Класс</button>
          <button class="btn-nav table__btn-school">Школа</button>
        </div>
        <div class="table__body">
          
          <!-- Первая ячейка -->
          {% for stat in object_list %}
              <div class="table__cell">
                <span class="position">1</span>
                <span class="name">Вася Пупкин Пупкович</span>
                <div class="block__score">
                  {{stat.score.la}} <span class="score">{{stat.score}}</span>
                  {{stat.score}} <span class="experience">{{stat.experience}}</span>
                  {{stat.score}} <span class="lvl">{{stat.lvl}}</span>
                </div>
              </div>
          {% endfor %}

          
          <!-- Вторая ячейка -->
          <div class="table__cell">
            <span class="position">2</span>
            <span class="name">НеВася НеПупкин НеПупкович</span>
            <div class="block__score">
              Очки: <span class="score">0</span>
              Опыт: <span class="experience">10</span>
              Уровень: <span class="lvl">1</span>
            </div>
          </div>

        </div>
      </div>
    </main>
  </body>
  <script src="/static/js/previousLink.js?{% now 'U' %}""></script>
</HTML>