<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  {% load static %}
{#  <link rel="stylesheet" href="/main/static/css/index.css?{% now 'U' %}">#}
  <link rel="stylesheet" href="/static/css/index.css?{% now 'U' %}">
  <link rel="stylesheet" href="/static/css/registration.css?{% now 'U' %}">
  <link rel="stylesheet" href="/static/css/normalize.css?{% now 'U' %}">
  <link rel="stylesheet" href="/static/css/accordion.css?{% now 'U' %}">
</head>
  {% block content %}

  {% endblock %}
</html>