*,
*:before,
*:after {
  box-sizing: border-box;
}

/* index */

/* body */
.container {
    position: relative;
	max-width: 1170px;
	margin: 0 auto;
    background-color: #e5e5e5;
}

.logo {
    display: inline-block;
    color: #000;
}

.header-container {
    /*margin-top: 20px;*/
    margin-bottom: 50px;
    position: relative;
}

.header-container__item {
    position: absolute;
    display: inline-block;
    top: 30px;
    right: 1%;
}

.nav-header {
    display: inline-block;
    margin-right: 80px;
}

.list_reset {
    display: flex;
    list-style: none;
    margin: 0;
}

.nav-header__item {
    margin-right: 40px;
}

.nav-header__item a {
    text-decoration: none;
    user-select: none;
    color: rgb(0, 0, 0);
}

.nav-header__item:last-child {
    margin-right: 0;
}

.nav-header__list {
    display: flex;
    flex-direction: row;
    /* margin-left: 40%; */
    font-size: 20px;
}

.cont-login {
    position: absolute;
    right: 0;
    top: 35px;
    right: 0px;
}

.login__btn{
    margin-right: 30px;
    padding: 10px 15px;
    /* position: relative; */
    right: 200px;

    background-color: gainsboro;
    padding: 10px 15px;
    color: black;
    border: 1px solid gray;
    border-radius: 3px;
    text-decoration: none;
}

.login__btn:last-child {
    margin-right: 0;
}

/* description */

.section {
    min-height: 500px;
    max-width: 1100px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 50px;
    position: relative;
}

.section h2 {
    position: absolute;
    left: 10%;
    top: 2%;
}

.btn-container {
    position:absolute;
    top: calc(50% - 80px);
    left: calc(50% - 100px);
}

.btn-start {
    /* position: absolute; */
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 70px;
    right: calc(50% - 100px);
    top: calc(50% - 35px);
    font-size: large;
    margin-bottom: 20px;
}