:root {
  --header-color-1:#e5e5e5;
  --header-color-2:#365998;
  --header-color-3:#4165a9;
  --main-color-1:#cfcfcf;
  --main-color-2:#f5f4f4;
  --main-heading-1:#817f7f;
  --main-text-1: #8a8989;
  --main-btn-start: #ece8e8;
  --sec-color:rgba(77, 111, 178, 0.1);
  --footer-color-1:#aeadad;
}

.modal-window, .modal-window-1{
  z-index: 200;
  display: none;
  position: fixed;
  --width: 500px;
  width: var(--width);
  min-height: 200px;
  background-color: rgb(245, 245, 245);
  text-align: center;
  align-items: center;
  left: calc(50% - 250px);
  top: calc(50% - 150px);

  /* border: 1px solid rgb(107, 106, 106); */
  border-radius: 10px;
  padding: 20px 40px 20px 40px;
}

.modal-window__headling {
  margin-top: 0;
}

.close-modal-window, .close-modal-window-1{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgb(221, 221, 221);
  border-radius: 8px;
  background-image: url('/static/img/cross.svg');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-overlay{
  z-index: 100;
  display: none;
  position:fixed;
  left:0;
  top: 0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.75);
}

.modal_relative {
  position: relative;
}

.submit-modal-window {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 62%;
  padding: 5px 0 5px 0;
  border-radius: 5px;
  border-width: 1px;
}



/* form */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  box-shadow:  0 0 6px 3px var(--sec-color);
  border-radius: 10px;
}

.field-containers {
  /* color: #395870; */
  display: block;
  margin-bottom: 10px;
}

.field-containers__span_margin-right {
  margin-right: 8px;
}

input, textarea{
  border-radius: 5px;
  margin: 0;
  /* margin-bottom: 10px; */
  border-width: 1px;
  background-color: rgb(242, 240, 240);
  /* min-width: 200px !important; */
}