*,
*:before,
*:after {
  box-sizing: border-box;
}

main {
  position: relative;
}

.form-reg {
  border: 1px solid #c6c7cc;
  border-radius: 3px;
  overflow: hidden;
  width: 300px;
  margin: 100px auto;
  margin-bottom: 50px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-input {
  background: rgb(242, 240, 240);
  border: 1px solid #c6c7cc;
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);*/
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}

.account-info {
  padding: 20px 20px 10px 20px;
}

.login-title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
  color: #2c4354;
  font-weight: 300;
}

.field-containers {
  position: relative;
}

.input-password {
  position: relative;
}

.input-password__item {
  width: 10px;
}

.btn-show {
  position: absolute;
  top: 29px;
  right: 5px;
}

.input-data {
  background: rgb(242, 240, 240);
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}

.input-role {
  position: relative;
  top: 3px;
}

.input-gender {
  margin: 10px 0 20px;
}

.input-gender input {
  margin-right: 3px;
}

.input-gender span {
  margin-right: 10px;
  font-size: 15px;
  font-weight: 400;
}

.account-action {
  background: rgb(237, 236, 236);
  border-top: 1px solid #c6c7cc;
  padding: 20px;
  position: relative;
  height: 75px;
}

.account-action .btn {
  background: linear-gradient(#49708f, #42617c);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  padding: 8px 25px;
  right: 30px;
}

.account-action label {
  color: #7c7c80;
  font-size: 12px;
  float: left;
  margin: 10px 0 0 20px;
}