.header-container {
  height: 90px;
  background-color: #cfcdcd;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 50px;
}

.btn-container {
  position: relative;
  max-width: 1170px;
	margin: 0 auto;
  top: 20px;
}

.btn {
  min-width: 170px;
  height: 50px;
}

.btn:nth-child(1) {
  margin-right: 70px;
}

.btn:nth-child(3) {
  min-width: 200px;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  right: 0;
}


*{
	margin: 0;
	padding: 0;
}

#nav{
  min-width: 200px;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  right: 0;
	height: 70px;
}

#nav ul{
	list-style: none;
}

#nav > ul > li{
	/* float: left; */
	min-width: 200px;
	position: relative;
}

#nav li a{
	display: block;
	background: #f0f0f0;
	border: 1px solid #060A13;
	color: #060A13;
	padding: 8px;
	text-align: center;
	text-decoration: none;
}
#nav li a:hover{
	background: #2F718E;
}

#nav li .second{
	display: none;
	position: absolute;
	top: 100%;
  z-index: 1000;
}

#nav li:hover .second{
	display: block;
}

#nav li li{
	width: 180px;
}



.main-container {
  position: relative;
	max-width: 1170px;
	margin: 0 auto;
  /* background-color: #e5e5e5; */
}

.list-blocks {
  display: flex;
  list-style: none;
}

.block__container{
  margin-left: 30px;
  margin-bottom: 20px;
}

.class {
  position: absolute;
  left: 0;
  width: 47%;
  /* margin-right: 4%; */
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.block__h {
  margin-top: 20px;
  margin-bottom: 20px;
}

.block__btn {
  display: block;
  min-width: 170px;
  height: 50px;
  margin-bottom: 20px;
}

.task {
  position: absolute;
  right: 0;
  width: 47%;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}