:host {
    --header-color-1:#e5e5e5;
    --header-color-2:#365998;
    --header-color-3:#4165a9;
    --main-color-1:#cfcfcf;
    --main-color-2:#f5f4f4;
    --main-heading-1:#817f7f;
    --main-text-1: #8a8989;
    --main-btn-start: #ece8e8;
    --sec-color:rgba(77, 111, 178, 0.1);
    --footer-color-1: #e7e7e7;
}

.header {
  font-size: 22px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  width: 100%;

  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: row;

  max-width: 1200px;
  width: 100%;

  margin: 0 auto;
  height: 100%;
  padding: 0 35px 0 0;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  text-align: center;

  margin: 10px 0 10px 0;
}

.header__logo_img {
  position: relative;
  height: 45px;
  width: 45px;

  margin-right: 12px;
}

.header__logo_text {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 47px;

  color: var(--blue-main);
}

.header__nav {
  position: relative;
  top: 2px;

  display: flex;
  margin-left: auto;
  flex-direction: row;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color: var(--blue-main);
}

.header__link:first-child {
  margin-right: 20px;
}



.container {
  position: relative;
	max-width: 1170px;
	margin: 0 auto;
}


/* main */

.main-container {
  padding-bottom: 100px;
}

.section {
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  border-radius: 25px;
  margin: 0 auto;
  /*background-color: #f6f6f6;*/
  position: relative;
}

.section:last-child {
  margin-bottom: 0;
}

.start-section {
  height: 30vw;
  max-height: 350px;
}

.section__text {
  padding: 95px 10% 85px 10%;
  color: var(--main-text-1);
  font-size: 21px;
  font-weight: 400;

  width: 50%;
}

.section__img {
  margin: 0;
  width: 40%;
  height: 40%;

  margin: auto auto;
}

.btn-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.btn-start {
  display: flex;
  width: 200px;
  height: 70px;
  margin-bottom: 20px;

  color: var(--main-btn-start);
  background-color: var(--header-color-3);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* footer */

.footer-container {
  background-color: var(--footer-color-1);
  padding-top: 50px;
  min-height: 300px;
}

.footer-logo__container {
  text-decoration: none;
  text-align: center;
}

.footer__logo {
  font-size: 35px;
  display: block;
  color: rgb(76, 75, 75);
  user-select: none;
  border: none;
}

.footer__sign {
  font-size: 25px;
  display: block;
  color: rgb(76, 75, 75);
  user-select: none;
  border: none;
}
