<header class="header">
  <div class="header__container">
    <a class="header__logo" routerLink="/main">
      <img class="header__logo_img" src="../../../assets/img/header/logo.png" alt="logo">
      <span class="header__logo_text">Master of Dungeons</span>
    </a>
    <div class="header__nav">
      <div *ngIf="!isAuthentication; else elseBlock">
        <a routerLink="/registration" class="header__link">РЕГИСТРАЦИЯ</a>
        <a routerLink="/login" class="header__link">ВХОД</a>
      </div>
      <ng-template #elseBlock>
        <span class="header__name-user">{{ user }}</span>
        <a (click)="logout()" class="header__link">ВЫХОД</a>
      </ng-template>
    </div>
  </div>
</header>

<main class="main-container">

  <section class="section start-section" id="tasks">
<!--    <h2>Начать путешествие</h2>-->
    <div class="btn-container">
<!--      <a *ngIf="isAuthentication == true && isTeacher == true" routerLink="/teacher/group/list" class="btn-start">Начать (за учителя)</a>-->
<!--      <a *ngIf="isAuthentication == true && isTeacher != true" routerLink="/student/main" class="btn-start">Начать (за ученика)</a>-->
<!--      <a *ngIf="!isAuthentication" routerLink="/login" class="btn-start">Начать (login)</a>-->
      <a routerLink="/teacher/group/list" class="btn-start">Начать (за учителя)</a>
      <a routerLink="/student/main" class="btn-start">Начать (за ученика)</a>
      <a routerLink="/login" class="btn-start">Начать (login)</a>
    </div>
  </section>

  <section class="section" id="description">
    <div class="section__text">
      Добро пожаловать на Master of Dungeons –  онлайн-игру, которая позволит вам сделать учебный процесс более увлекательным и интерактивным!
    </div>
    <img class="section__img" src="../../../assets/img/main/main-img1.png">
  </section>

  <section class="section" id="reviews">
    <img class="section__img" src="../../../assets/img/main/main-img2.png">
    <div class="section__text">
      В этой игре вы сможете создать своего персонажа и отправиться в увлекательное приключение, где вас ждут опасные задания, битвы с боссами, которые нужно решить, чтобы продвигаться дальше.
    </div>
  </section>

  <section class="section">
    <div class="section__text">
      Но главное, что делает эту игру такой уникальной - это ее социальная составляющая. Вы можете играть вместе с однаклассниками и участвовать в командных заданиях, что поможет укрепить ваши отношения и научиться работать в команде.
    </div>
    <img class="section__img" src="../../../assets/img/main/main-img3.png">
  </section>

</main>
<footer class="footer-container footer">
  <div class="container">
    <a class="footer-logo__container" href="">
      <h2 class="footer__logo">WEP</h2>
      <h3 class="footer__sign">Служба поддержка: wep@yandex.ru</h3>
    </a>
  </div>
</footer>
