<a (click)="returnBack()" class="group__btn_back">
  <img src="../../../../../assets/img/tasks/arrow-to-left-svgrepo-com.svg">
</a>
<div class="task-container">
  <div class="group__inf">
    <div>
      Название теста: {{ task.title }}
    </div>
    <div>
      Группы: {{ task.group }}
    </div>
    <div>
      Название предмета: {{ task.subject }}
    </div>
    <div>
      Текст: {{ task.text }}
    </div>
    <div>
      Время выполнения: {{ task.time }}
    </div>
    <div>
      Время сдачи: {{ task.time_deadline }}
    </div>
    <div>
      Дата сдачи: {{ task.date_deadline }}
    </div>
    <div>
      Количество баллов для оценки 5: {{ task.five }}
    </div>
    <div>
      Количество баллов для оценки 4: {{ task.four }}
    </div>
    <div>
      Количество баллов для оценки 3: {{ task.three }}
    </div>
    <div>
      Количество баллов для оценки 2: {{ task.two }}
    </div>
  </div>
  <main class="main-container">
    <div *ngFor="let question of questions;  let i = index;" id="task_{{ question.id }}">
      <div method="post" class="question">
        <h2 class="question__title">Задание <span>{{i + 1}} </span></h2>
        <p>{{ question.question }}</p>
        <input type="hidden" name="id" value="{{ question.id }}">
        <label>
          1) {{ question.first_answer }}
        </label>
        <label>
          2)  {{ question.second_answer }}
        </label>
        <label>
          3) {{ question.third_answer }}
        </label>
        <label>
          4) {{ question.four_answer }}
        </label>
        <label>
          Количество баллов: {{ question.reward }}
        </label>
        <label>
          Номер правильного ответа:{{ question.number_correct_answer }}
        </label>
      </div>
    </div>
  </main>
</div>
