<div class="nav-bar">
  <ul class="nav-bar__container">
    <li class="nav-bar__el">
      <img class="nav-bar__img" src="../../../assets/img/constructor.svg" alt="logo">
      <a class="nav-bar__link" routerLink="/constuctor">Конструктор заданий</a>
    </li>
    <li class="nav-bar__el">
      <img class="nav-bar__img" src="../../../assets/img/task.svg" alt="logo">
      <a class="nav-bar__link" routerLink="">Задания</a>
    </li>
    <li class="nav-bar__el">
      <img class="nav-bar__img" src="../../../assets/img/group.svg" alt="logo">
      <a class="nav-bar__link" routerLink="">Группы</a>
    </li>
    <li class="nav-bar__el">
      <img class="nav-bar__img" src="../../../assets/img/profile.svg" alt="logo">
      <a class="nav-bar__link" routerLink="">Статистика</a>
    </li>
  </ul>
</div>
