.nav-bar {
  position: fixed;
  top: 68px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  /*width: 250px;*/
  height: 100vh;
  background-color: var(--blue-main);
}

.nav-bar__container {
  position: relative;
  height: calc(100vh - 70px);
  list-style: none;
  margin: 0;
  padding: 25px 20px 25px 15px;
}

.nav-bar__el {
  display: flex;
  align-items: center;
  width: 180px;

  margin-bottom: 20px;
}

.nav-bar__el:last-child {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 15%;
}

.nav-bar__img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nav-bar__link {
  text-decoration: none;

  color: var(--color-navbar-text);
}
