{% load static %}
<html lang="ru">
  <head>
    <title>Авторизация</title>
    <link rel="stylesheet" href="/static/css/index.css?{% now 'U' %}">
    <link rel="stylesheet" href="/static/css/normalize.css?{% now 'U' %}">
    <link rel="stylesheet" href="/static/css/log-reg.css?{% now 'U' %}">
    <script src="{% static '/js/script.js' %}"></script>
  </head>
  <body>
    <header class="header-container">
      <div class="container">
        <a href="{% url 'main' %}"><h1 class="logo">WEP</h1></a>
        <div class="header-container__item">
          <nav class="nav-header">
            <ul class="list_reset nav-header__list">
              <li class="nav-header__item"><a href="{% url 'main' %}">Задания</a></li>
              <li class="nav-header__item"><a href="{% url 'main' %}">Описание</a></li>
              <li class="nav-header__item"><a href="{% url 'main' %}">Отзывы</a></li>
            </ul>
          </nav>
          <div class="label-login">
            <a href="{% url 'login' %}" class="login__btn" id="login-btn">Вход</a>
            <a href="{% url 'signup' %}" class="login__btn" id="reg-btn">Регистрация</a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="main-container">
        {% block content %}
        {% endblock content %}
      </div>
    </main>
  </body>
{#  <script src="/static/js/script.js"></script>#}
</html>
